/* Style for navigation buttons */
.navigation-button {
  -fx-background-color: white;
  -fx-border-color: transparent;
  -fx-text-fill: grey;
  -fx-font-weight: bold;
  -fx-font-size: 40px;
  -fx-padding: 0px 12px;
  -fx-background-insets: 0;
  -fx-opacity: 0.4;
  -fx-cursor: hand;
}

/* Hover effect for navigation buttons */
.navigation-button:hover {
  -fx-opacity: 0.8;
}

/* Style for item buttons */
.item-button {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
  -fx-cursor: hand;
}

/* Hover effect for item buttons */
.item-button:hover {
  -fx-background-color: grey;
  -fx-opacity: 0.3;
}

/* Style for choice buttons */
.choice-button {
  -fx-background-color: black;
  -fx-text-fill: #43fbfa;
  -fx-font-size: 16px;
  -fx-font-family: "JetBrainsMono NF Bold";
  -fx-padding: 10px 20px;
  -fx-background-radius: 5px;
  -fx-border-radius: 5px;
  -fx-border-color: #43fbfa;
  -fx-border-width: 2px;
}

.choice-button:hover {
  -fx-text-fill: #ff4a54;
  -fx-border-color: #ff4a54;
}

/* Styling for the grid pane */
.custom-grid-pane Line {
  -fx-stroke: white;
}

/* Styling for the text field */
.custom-text-field:disabled {
  -fx-opacity: 1;
}
