/* Style for navigation buttons */
.navigation-button {
  -fx-background-color: white;
  -fx-border-color: transparent;
  -fx-text-fill: grey;
  -fx-font-weight: bold;
  -fx-font-size: 40px; 
  -fx-padding: 0px 12px; 
  -fx-background-insets: 0; 
  -fx-opacity: 0.4; 
  -fx-cursor: hand;
}

/* Hover effect */
.navigation-button:hover {
  -fx-opacity: 0.8;
}