/* For a red border style pane */
.red-border-pane {
  -fx-border-color: rgb(255, 0, 0);
  -fx-border-width: 2px;
}

/* For a green border style pane */
.green-border-pane {
  -fx-border-color: rgb(0, 255, 0);
  -fx-border-width: 2px;
}

/* For a orange border style pane */
.orange-border-pane {
  -fx-border-color: rgb(255, 135, 0);
  -fx-border-width: 2px;
}

/* Font styling */
@font-face {
  font-family: Terminus (TTF);
  src: url("/../../fonts/terminal.ttf");
}

@font-face {
  font-family: Determination Mono Web;
  src: url("/../../fonts/determination.ttf");
}

@font-face {
  font-family: DS-Digital;
  src: url("/../../fonts/timer.ttf");
}

/* Label with custom font */
.custom-label {
  -fx-font-family: "Determination Mono Web";
}

.custom-label:disabled {
  -fx-font-size: 40;
}

/* Timer label */
.timer-label {
  -fx-font-family: "DS-Digital";
}

/* For the text area styling */
.custom-text-area {
  -fx-text-alignment: top-left;
  -fx-background-color: rgba(0, 0, 0, 0.4);
  -fx-text-inner-color: rgb(119, 232, 230);
  -fx-font-family: "Determination Mono Web";
  -fx-font-size: 18;
  -fx-opacity: 1;
  -fx-border-color: rgb(119, 232, 230);
  -fx-border-width: 2px 2px 0px 2px;
}

.custom-text-area .scroll-bar:horizontal:disabled {
  -fx-pref-height: 1;
  -fx-opacity: 0;
}

.custom-text-area .scroll-bar:vertical:disabled {
  -fx-pref-height: 1;
  -fx-opacity: 0;
}

.custom-text-area .scroll-pane {
  -fx-background-color: transparent;
}

.custom-text-area .scroll-pane .viewport {
  -fx-background-color: transparent;
}

.custom-text-area .scroll-pane .content {
  -fx-background-color: transparent;
}

/* Text field styling */
.custom-text-field {
  -fx-font-family: "Determination Mono Web";
  -fx-font-size: 16px;
  -fx-background-color: #ffffff; /* Background color of the chat bubble */
  -fx-padding: 10px; /* Padding inside the chat bubble */
  -fx-text-fill: rgb(0, 0, 0); /* Text color inside the chat bubble */
  -fx-border-radius: 20px 20px 20px 20px; /* Rounded corners, adjust as needed */
  -fx-background-radius: 20px 20px 20px 20px; /* Rounded corners, adjust as needed */
  -fx-border-width: 1px; /* Border width of the chat bubble */
  -fx-border-color: #c2c3c3; /* Border color of the chat bubble */
  -fx-max-width: 70%; /* Maximum width of the chat bubble, adjust as needed */
  -fx-alignment: center-left; /* Align the text to the left inside the chat bubble */
  -fx-min-width: 380px; /* Minimum width of the chat bubble, adjust as needed */
}


.custom-text-field .typing {
  -fx-font-size: 18;
}

/* Style for the chat message label when it's on the left side */
.chat-bubble {
  -fx-font-family: "Determination Mono Web";
  -fx-font-size: 16px;
  -fx-background-color: #0099ff; /* Background color of the chat bubble */
  -fx-padding: 10px; /* Padding inside the chat bubble */
  -fx-text-fill: white; /* Text color inside the chat bubble */
  -fx-border-radius: 20px 20px 20px 0; /* Rounded corners, adjust as needed */
  -fx-background-radius: 20px 20px 20px 0; /* Rounded corners, adjust as needed */
  -fx-border-width: 1px; /* Border width of the chat bubble */
  -fx-border-color: #0077cc; /* Border color of the chat bubble */
  -fx-max-width: 70%; /* Maximum width of the chat bubble, adjust as needed */
  -fx-alignment: center-left; /* Align the text to the left inside the chat bubble */
  -fx-min-width: 380px; /* Minimum width of the chat bubble, adjust as needed */
}

/* Style for the chat message label when it's on the left side */
.chat-bubble1 {
  -fx-font-family: "Determination Mono Web";
  -fx-font-size: 16px;
  -fx-background-color: #37eb37; /* Background color of the chat bubble */
  -fx-padding: 10px; /* Padding inside the chat bubble */
  -fx-text-fill: white; /* Text color inside the chat bubble */
  -fx-border-radius: 20px 20px 0 20px; /* Rounded corners, adjust as needed */
  -fx-background-radius: 20px 20px 0 20px; /* Rounded corners, adjust as needed */
  -fx-border-width: 1px; /* Border width of the chat bubble */
  -fx-border-color: #37eb37; /* Border color of the chat bubble */
  -fx-max-width: 70%; /* Maximum width of the chat bubble, adjust as needed */
  -fx-alignment: center-left; /* Align the text to the left inside the chat bubble */
  -fx-min-width: 380px; /* Minimum width of the chat bubble, adjust as needed */
}

