/* For a red border style pane */
.red-border-pane {
  -fx-border-color: rgb(255, 0, 0);
  -fx-border-width: 3px;
}

/* For a green border style pane */
.green-border-pane {
  -fx-border-color: rgb(0, 255, 0);
  -fx-border-width: 3px;
}

/* For the text area styling*/
.text-area {
  -fx-text-alignment: top-left;
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-text-inner-color: rgb(0, 255, 0);
}

.text-area .scroll-pane {
  -fx-background-color: transparent;
}

.text-area .scroll-pane .viewport {
  -fx-background-color: transparent;
}

.text-area .scroll-pane .content {
  -fx-background-color: transparent;
}
