/* For the pseudocode pane */
.psuedocode-border-pane {
  -fx-border-color: rgb(116, 117, 122);
  -fx-border-width: 1.5px;
}

/* For the hint pane */
.hint-border-pane {
  -fx-border-color: rgb(193, 193, 196);
  -fx-border-width: 1px;
}

/* For the button pane */
.button-border-pane {
  -fx-border-color: rgb(132, 133, 136);
  -fx-border-width: 1.5px;
}

/* Font styling */
@font-face {
  font-family: Determination Mono Web;
  src: url("/../../fonts/jetbrains.ttf");
}

@font-face {
  font-family: DS-Digital;
  src: url("/../../fonts/timer.TTf");
}

@font-face {
  font-family: DS-Digital;
  src: url("/../../fonts/timerBold.TTf");
}

/* Label with custom font */
.custom-label {
  -fx-font-family: "JetBrainsMono NF";
}

.custom-bold-label {
  -fx-font-family: "JetBrainsMono NF Bold";
}

.custom-label:disabled {
  -fx-opacity: 1;
  -fx-font-size: 18;
}

/* Timer label */
.timer-label {
  -fx-font-family: "DS-Digital";
}

.timer-bold-label {
  -fx-font-family: "DS-Digital Bold";
}

/* For the text area styling */
.custom-text-area {
  -fx-text-alignment: top-left;
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-text-inner-color: white;
  -fx-font-family: "JetBrainsMono NF";
  -fx-opacity: 1;
}

.custom-text-area .scroll-bar:horizontal:disabled {
  -fx-pref-height: 1;
  -fx-opacity: 0;
}

.custom-text-area .scroll-bar:vertical:disabled {
  -fx-pref-height: 1;
  -fx-opacity: 0;
}

.custom-text-area .scroll-pane {
  -fx-background-color: transparent;
}

.custom-text-area .scroll-pane .viewport {
  -fx-background-color: transparent;
}

.custom-text-area .scroll-pane .content {
  -fx-background-color: transparent;
}

/* For the description text area */
.description-text-area {
  -fx-text-alignment: top-left;
  -fx-background-color: rgba(255, 255, 255, 0);
  -fx-text-inner-color: #fbfb64;
  -fx-font-family: "JetBrainsMono NF";
  -fx-opacity: 1;
}

.description-text-area .scroll-bar:horizontal:disabled {
  -fx-pref-height: 1;
  -fx-opacity: 0;
}

.description-text-area .scroll-bar:vertical:disabled {
  -fx-pref-height: 1;
  -fx-opacity: 0;
}

.description-text-area .scroll-pane {
  -fx-background-color: transparent;
}

.description-text-area .scroll-pane .viewport {
  -fx-background-color: transparent;
}

.description-text-area .scroll-pane .content {
  -fx-background-color: transparent;
}
