.anchor-pane {
  -fx-background-color: rgb(22, 178, 199);
}

.back-button {
  -fx-background-color: black;
  -fx-text-fill: #00FFFF; 
  -fx-font-size: 16px;
  -fx-font-family: "Arial", sans-serif;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 0, 0, 0, 1);

  -fx-pref-height: 40px; 
  -fx-pref-width: 120px; 
  -fx-border-width: 2px; 
  -fx-border-color: #1194a6; 

  -fx-font-size: 16px;
  -fx-font-family: "Arial", sans-serif;
}

.back-button:pressed {
  -fx-effect: null; 
}


.back-button:hover {
  -fx-background-color: rgb(34, 34, 34);
  -fx-text-fill: WHITE; 
}

.helper-gate-pane {
  -fx-background-color: rgb(18, 157, 176);
}

.gpt-text-area {
  -fx-text-fill: #00FFFF; 
  -fx-font-family: "Monospace", sans-serif;
  -fx-font-size: 14px;
  -fx-border-radius: 5px;
  -fx-padding: 3px;
  -fx-min-width: 100%; 
  -fx-box-sizing: border-box;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 0, 0, 0, 1);
  -fx-background-color: #1194a6; 

}

.gpt-text-area .content {
  -fx-background-color: black; 
}

.gpt-text-area  .scroll-bar:vertical {
  -fx-pref-width: 1;
  -fx-opacity: 0;
}
.gpt-text-area  .scroll-bar:horizontal {
  -fx-pref-height: 1;
  -fx-opacity: 0;
}

.input-text-field {
  -fx-text-fill: #00FFFF; 
  -fx-font-family: "Monospace", sans-serif;
  -fx-font-size: 15px;
  -fx-border-radius: 5px;
  -fx-padding: 3px;
  -fx-min-width: 100%; 
  -fx-box-sizing: border-box;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 0, 0, 0, 1);
  -fx-background-color: black;
}

#broken-glass-pane {
  -fx-border-color: black; 
  -fx-border-width: 5px;
  -fx-background-color: rgb(18, 157, 176);


}
.progress-bar > .bar {
  -fx-background-color: linear-gradient(
      from 0px .75em to .75em 0px,
      repeat,
      -fx-accent 0%,
      -fx-accent 49%,
      derive(-fx-accent, 30%) 50%,
      derive(-fx-accent, 30%) 99%
  );
}

.progress-bar {
  -fx-background-insets: 0; /* Remove background insets */
  -fx-border-color: #333333; /* Dark border color */
  -fx-border-width: 2; /* Border width */
  -fx-padding: 5; /* Padding around the ProgressBar */
  -fx-border-radius: 5; /* Rounded corners */
}

.final-gate-label {
  -fx-text-fill: #000000; 
  -fx-font-family: "Monospace", sans-serif;
  -fx-font-size: 25px;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 0, 0, 0, 1);
}
