
.red-border-pane {
  -fx-border-color: rgb(255, 0, 0);
  -fx-border-width: 2px;
}

.green-border-pane {
  -fx-border-color: rgb(0, 255, 0);
  -fx-border-width: 2px;
}

.holographic-background {
  -fx-text-fill: #00FFFF; 
  -fx-font-family: "Monospace", sans-serif;
  -fx-font-size: 12px;
  -fx-border-radius: 5px;
  -fx-padding: 3px;
  -fx-min-width: 100%; 
  -fx-box-sizing: border-box;
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 0, 0, 0, 1);
  -fx-background-color: #00FFFF; 
}

.holographic-background .content {
  -fx-background-color: black;
}

.holographic-background .content .overlay {
  -fx-background-color: black; 
  -fx-background-blend-mode: screen;
  -fx-background-insets: -10px;
  -fx-background-radius: 10px;
  -fx-padding: 10px;
}

.holographic-background .scroll-bar:vertical:disabled {
  -fx-pref-width: 1;
  -fx-opacity: 0;
}

.holographic-background .scroll-pane {
  -fx-background-color: transparent;
}

.holographic-background .scroll-pane .viewport {
  -fx-background-color: transparent;
}

/* Font styling */
@font-face {
  font-family: Determination Mono Web;
  src: url("/../../fonts/determination.ttf");
}

.button-style {
  -fx-background-color: transparent;
  -fx-text-fill: #00FFFF; 
  -fx-font-size: 13px;
  -fx-font-family: "Determination Mono Web";
  -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 0, 0, 0, 1);
}

.button-style:hover {
  -fx-background-color: transparent;
  -fx-text-fill: WHITE; 
}


#btnAnswer1.button-style,
#btnAnswer2.button-style,
#btnAnswer3.button-style {
  -fx-pref-height: 40px; 
  -fx-pref-width: 120px; 
  -fx-border-width: 2px; 
  -fx-border-color: #00FFFF; 
}


.button-style .label {
  -fx-font-size: 13px;
  -fx-font-family: "Determination Mono Web";
}

.button-style:pressed {
  -fx-effect: null; 
}


/* Style for the chat message label when it's on the left side */
.chat-bubble {
  -fx-font-family: "Determination Mono Web";
  -fx-font-size: 16px;
  -fx-background-color: #0099ff; /* Background color of the chat bubble */
  -fx-padding: 10px; /* Padding inside the chat bubble */
  -fx-text-fill: white; /* Text color inside the chat bubble */
  -fx-border-radius: 20px 20px 20px 0; /* Rounded corners, adjust as needed */
  -fx-background-radius: 20px 20px 20px 0; /* Rounded corners, adjust as needed */
  -fx-border-width: 1px; /* Border width of the chat bubble */
  -fx-border-color: #0077cc; /* Border color of the chat bubble */
  -fx-max-width: 70%; /* Maximum width of the chat bubble, adjust as needed */
  -fx-alignment: center-left; /* Align the text to the left inside the chat bubble */
  -fx-min-width: 280px; /* Minimum width of the chat bubble, adjust as needed */
}

.eye-text {
  -fx-font-family: "Determination Mono Web";
  -fx-font-size: 24px;
  -fx-background-color: transparent;
}